/* common styles */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* head1 */

.banner {
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.banner>div {
    padding: 215px 230px 165px 0;
    text-align: right;
    width: 30%;
}

.banner div h1 {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner div p {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0 30px;
}

.banner div button {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    background: #F15B22;
}

/* failures */

.failures {
    margin: 130px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.fail-text {
    width: 25%;
    margin-top: 200px;
}

.fail-text h2 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.fail-text p {
    margin: 25px 0 15px;
}

.fail-text p,
.fail-text ul li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.fail-text ul li {
    margin-bottom: 8px;
}

.fail-text ul li i {
    color: #16D887;
    font-size: 18px;
}

/* plan */

.plan {
    margin-top: 150px;
}

.plan>h1 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.plan-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px 0 130px;
    text-align: center;
}

.info h3 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0 15px;
}

.info p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* positive */

.watch {
    text-align: center;
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 130px;
}

.positive {
    position: relative;
}

.pm-btn {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    border: navajowhite;
    padding: 20px 35px;
}

.positive-text h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.positive-text {
    width: 25%;
}

.watch img {
    transform: translatey(3px);
}

.positive-text {
    position: absolute;
    top: 60px;
    left: 450px;

}

/* footer */

footer {
    background: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.social h1 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.social-dec {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}

.email,
.phn {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 15px;
}

.social ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.sub {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

input[type="email"] {
    margin: 30px 0 15px;
    display: block;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    background: var(--Dark-01, #151414);
    border-radius: 8px;
    border: 1px solid #FFF;
}